<div class=container>
  <div class="row">

    <div class="col-lm-12">
      <div class="shop-card">
        <div class="shop-card-header" style="background-image: rl('https://kitt.lewagon.com/placeholder/cities/shanghai')">
          <div class="shop-card-logo-avatar">
          </div>
          <div class="shop-card-price">
            <p>$4.50</p>
          </div>
          <div class="shop-card-title">
            <h4>Eric Kayser</h4>
          </div>
        </div>
        <div class="shop-card-footer">
          <p>3 left</p><p>Marina Bay Sand</p><p>7.30pm - 8.30pm</p>
        </div>
      </div>
    </div>

    <div class="col-lm-12">
      <div class="shop-card">
        <div class="shop-card-header" style="background-image: rl('https://kitt.lewagon.com/placeholder/cities/shanghai')">
          <div class="shop-card-logo-avatar">
          </div>
          <div class="shop-card-price">
            <p>$4.50</p>
          </div>
          <div class="shop-card-title">
            <h4>Eric Kayser</h4>
          </div>
        </div>
        <div class="shop-card-footer">
          <p>3 left</p><p>Marina Bay Sand</p><p>7.30pm - 8.30pm</p>
        </div>
      </div>
    </div>

  </div>
</div>
