<div class="shop-title">
  <h4>Eric Kayser</h4>
</div>

<div class=container>
  <div class="row">
    <div class="col-sm-12">

        <div class="big-shop-card">

          <div class="big-shop-card-header">
            <p>3 left</p>
            <p>7.30pm - 8.30pm</p>
            <div class="shop-card-logo-avatar">
            </div>
            <div class="shop-card-title">
            </div>
          </div>

          <div class="big-shop-card-footer navbar-fixed-bottom">
            <div class="big-shop-card-price">
              <p>$4.50</p>
              <p>$12.00</p>
            </div>
          </div>

        </div>
    </div>

    <div class="col-sm-12">
        <div class="add-cart">
            <div class="btn btn-action btn-add-cart">
             +
            </div>
        </div>
    </div>

    <div class="description-container">
      <p>Eric Kayser is a french bakery based in Singapore since 2000.If you decide to save one delicious portion, you can expect to take away sandwiches, french croissant, breads and pastry.Our partner cannot predict what will be left at the end of the day. Surprise! Don’t forget to bring your own bag to avoid the use of plastic bags.</p>
    </div>

    <div class="direction-container">

    </div>

  </div>
</div>
