.btn-medium {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.btn-duck-blue {
  background: #347C8E;
  color: white;
}

.btn-light-grey {
  background: #C4C4C4;
}

.btn-add-cart {
  background: #347C8E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 70px;
  height: 70px;
}
