/* SHOP#INDEX CARDS */

.shop-card {
  position: relative;
  width: 344px;
  height: 206px;
  top: 3%;
  right: 2%;
  background: #FEFEFE;
  border-radius: 10px;
  color: black;
  margin-bottom: 20px;
}

.shop-card-header {
  height: 148px;
  background: url(image-back.jpg), #C4C4C4;
  opacity: 0.5;
  position:absolute;
  width: 344px;
  border-radius: 10px;
}

.shop-card-footer {
  display : flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0px;
  height: 58px;
  position:absolute;
  background: white;
  border-radius: 10px;
  width: 344px;
  p {
    font-size: 14px;
    }
  }

.shop-card-title {
  background: #E5E5E5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  position:absolute;
  top: 50%;
  width: 344px;
  text-align: center;
}

.shop-card-logo-avatar {
  position:absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  left: 40%;
  top: 0px;
  background: yellow;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.shop-card-price {
  background: #E5E5E5;
  border-radius: 12px;
  position:absolute;
  right: 14px;
  top: 20px;
}

/* FOR THE SHOP#SHOW */
.pos-rel {
  position: relative;
}
.big-shop-card {
  width: 100%;
  height: 245px;
  top: 20%;
  background-image: asset-url('placeholder_back.jpg');
  background-size: 370px 517px;
  background-repeat: no-repeat;
  color: black;
}

.big-shop-card-header {
  height: 60px;
  background: white;
  position:absolute;
  width: 100%;
}

.big-shop-card-footer {
  height: 60px;
  position:absolute;
  width: 100%;
}

.big-shop-card-price {
  height: 100%;
  width: 20%;
  background: $light-grey;
  font-size: 15px;
  padding-left: 1%;
}

.shop-title {
  text-align: center;
}

.add-cart {
  display:flex;
  justify-content:center;
  .a {
    color:black;
  }
}

.description-container {
  font-size:10px;
  margin: 4px 4px 0 6px ;
}

/* FOR THE CARTS#NEW */

.cart-container {
  position: relative;
  width: 100%;
  height: 620px;
  background-color: white;
  border-radius: 10px;
  color: $grey;
  border: 6px black;
  display: flex;
  flex-direction:column;
  align-items:center;
}

#cart-avatar {
  left:0%;
}

#big-shop-cart {
    top: 11%;
}

.cart-shop-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.order-title {
  height: 50px;
}

.cart-info {
  font-size: 14px;
  width: 90%;
  height: 30px;
  display: flex;
  flex-direction: line;
  align-items: flex-start;
  justify-content: space-between;
}

.cart-info-container {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cart-line {
  width: 100%;
  height:20px;
  color: black;
  bottom: 20px;
  top: 20px;
}

#margin-bottom-row-class {
  margin-bottom: 70px;
}
