body {
	color: white;
}

#wrapper {}

.top-padded-screen {
  padding-top: 40px;
}

.connection-wrapper {
  background-image: asset-url('placeholder_back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
}

.signup-wrapper {
}

.wrapper-and-form {
}

/* FOR CART#SHOW */

.wrapper-grey {
  height: 30px;
  width: 100%;
  background-color: $grey;
  margin-bottom: 19px;
}

.flex {
  display: flex;
  justify-content: space-around;
}
